@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300&subset=latin,cyrillic);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #f1f1f1;
	color: #333;
	font-size: 1em;
	font-weight: 400;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
	color: #293d55;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #333;
}

.content {
	padding: 0 1em;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

/* Шапка */
.header {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	text-align: center;
	z-index: 1000;
	font-size: 1.5em;
}

.header h1 {
	position: absolute;
	font-weight: 700;
	font-size: 4.5em;
	line-height: 1.2;
	color: #fff;
	z-index: 1000;
	padding: 0;
	margin: 0;
	left: 0;
	text-transform: uppercase;
	letter-spacing: 5px;
	width: 100%;
	top: 40%;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

.header h1 span {
	display: block;
	font-size: 35%;
}

.header h1 a {
	color: #eff62b;
}

.header h1 a:hover,
.header h1 a:focus {
	color: #fff;
}

.header h1 span::before,
.header h1 span::after {
	content: ' ― ';
	font-weight: 200;
}

.header h1 i {
	display: block;
	font-size: 15%;
	max-width: 40%;
	margin: 0 auto;
	line-height: 2;
	font-style: normal;
	font-weight: 400;
}


/* Кнопки демо */
.demos {
	padding: 3em 0;
}

.demos a {
	font-weight: 700;
	font-size: 0.85em;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0.5em 0;
	margin: 0 1.5em;
	display: inline-block;
	border-bottom: 2px solid transparent;
}

.demos a.current-demo {
	color: #333;
	border-color: #333;
}